{% extends 'padre.html' %}



{% block sidebar_content %}

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar collapse border-end vh-100" style="border-top-left-radius: 25px; border-top-right-radius: 25px;">
        <div class="position-sticky pt-4">
            <h6 class="sidebar-heading d-flex justify-content-center align-items-center px-3 mt-4 mb-1 text-white fw-bold">
                <span>Produccion</span>
            </h6>
            <hr class="text-white">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link  {% if '/ordenes/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" aria-current="page" href="{% url 'App_LUMINOVA:ordenes' %}" style="border-radius: 25px;">
                         <span class="ms-2">Ordenes</span>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link  {% if '/planificacion/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" href="{% url 'App_LUMINOVA:planificacion' %}" style="border-radius: 25px; padding-top: 0.75rem; padding-bottom: 0.75rem;">
                         <span class="ms-2">Planificacion</span>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link  {% if '/reportes/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" href="{% url 'App_LUMINOVA:reportes' %}" style="border-radius: 25px;">
                         <span class="ms-2">Reportes</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>


{% endblock %}

{% block content %}

   <h1> Vista de Producción </h1>

    <section>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>N° OP</th>
                    <th>OV Origen</th>
                    <th>Producto a Producir</th>
                    <th>Cantidad</th>
                    <th>Cliente</th>
                    <th>Fecha solicitud</th>
                    <th>Estado</th>
                    <th>Sector asignado</th>
                    <th>Acciones</th>
                </tr>
                {% for orden in ordenes %}
            <tr>
                <td>{{ orden.numero_orden }}</td>
                <td>N</td>
                
                <td>{{ orden.producto }}</td>
                <td>{{ orden.cantidad }}</td>
                <td>{{ orden.cliente }}</td>
                <td>Fecha</td>
                <td>{{ orden.estado }}</td>
                <td>{{ orden.sector }}</td>
                <td> <a href="{% url 'App_LUMINOVA:orden_reporte' numero_orden=orden.numero_orden sector=orden.sector %}" class="btn btn-danger">
                            Reportar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock %}