{% extends 'padre.html' %}

{% block title %}Roles y Permisos | Luminova{% endblock %}

{% block sidebar_content %}

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar collapse border-end vh-100" style="border-top-left-radius: 25px; border-top-right-radius: 25px;">
        <div class="position-sticky pt-4">
            <h6 class="sidebar-heading d-flex justify-content-center align-items-center px-3 mt-4 mb-1 text-white fw-bold">
                <span>Produccion</span>
            </h6>
            <hr class="text-white">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link  {% if '/ordenes/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" aria-current="page" href="{% url 'App_LUMINOVA:ordenes' %}" style="border-radius: 25px;">
                         <span class="ms-2">Ordenes</span>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link  {% if '/planificacion/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" href="{% url 'App_LUMINOVA:planificacion' %}" style="border-radius: 25px; padding-top: 0.75rem; padding-bottom: 0.75rem;">
                         <span class="ms-2">Planificacion</span>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link  {% if '/reportes/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" href="{% url 'App_LUMINOVA:reportes' %}" style="border-radius: 25px;">
                         <span class="ms-2">Reportes</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>


{% endblock %}

{% block content %}

<section>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>N° OP</th>
                <th>Cliente</th>
                <th>Fecha de inicio</th>
                <th>Fecha limite</th>
                <th>Asignado a</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
            {% for orden in ordenes %}
            <tr>
                <form method="post" action="{% url 'App_LUMINOVA:actualizar_orden' orden.numero_orden %}">
                    {% csrf_token %}
                    <td><a href="{% url 'App_LUMINOVA:tabla_insumos' %}?numero_orden={{ orden.numero_orden }}&sector={{ orden.sector }}" class="text-primary text-decoration-none">
                        {{ orden.numero_orden }}
                    </a></td>
                    <td>{{ orden.cliente }}</td>
                    <td>{{ orden.fecha_inicio }}</td>
                    <td>{{ orden.fecha_limite }}</td>
                    <td>
                        <select name="sector" class="form-select">
                            <option value="Sin asignar" {% if orden.sector == 'Sin asignar' %}selected{% endif %}>Sin asignar</option>
                            <option value="Grupo A" {% if orden.sector == 'Grupo A' %}selected{% endif %}>Grupo A</option>
                            <option value="Grupo B" {% if orden.sector == 'Grupo B' %}selected{% endif %}>Grupo B</option>
                            <option value="Grupo C" {% if orden.sector == 'Grupo C' %}selected{% endif %}>Grupo C</option>
                        </select>
                    </td>
                    <td>
                        <select name="estado" class="form-select">
                            <option value="Sin asignar" {% if orden.estado == 'Sin asignar' %}selected{% endif %}>Sin asignar</option>
                            <option value="En proceso" {% if orden.estado == 'En proceso' %}selected{% endif %}>En proceso</option>
                            <option value="Finalizado" {% if orden.estado == 'Finalizado' %}selected{% endif %}>Finalizado</option>
                            <option value="Interrumpido" {% if orden.estado == 'Interrumpido' %}selected{% endif %}>Interrumpido</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock %}